In [33]:
import numpy as np
import pandas as pd
import plotly.express as px
import plotly.graph_objects as go
import matplotlib.pyplot as plt
import boto3
import string
import re

In [2]:
# Spam messages and count of total per category


data = [((1, u'Clothing_Shoes_and_Jewelry'), 6701), ((1, u'Toys_and_Games'), 3660), ((0, u'Electronics'), 243421), ((0, u'Sports_and_Outdoors'), 245343), ((1, u'Electronics'), 3175), ((0, u'Cell_Phones_and_Accessories'), 254268), ((1, u'Cell_Phones_and_Accessories'), 6283), ((0, u'Home_and_Kitchen'), 261986), ((1, u'Home_and_Kitchen'), 2255), ((1, u'Sports_and_Outdoors'), 8939), ((0, u'Toys_and_Games'), 250975), ((0, u'Clothing_Shoes_and_Jewelry'), 237228)]

In [28]:
working = []
for item in data:
    if item[0][0] == 1:
        working.append(['spam', item[0][1], item[1]])
    if item[0][0] == 0:
        working.append(['not spam', item[0][1], item[1]])
df_spam_cat_count_reviews = pd.DataFrame(working,columns = ["Spam","Category","Count_Reviews"])
df_spam_cat_count_reviews

        Spam                     Category  Count_Reviews
0       spam   Clothing_Shoes_and_Jewelry           6701
1       spam               Toys_and_Games           3660
2   not spam                  Electronics         243421
3   not spam          Sports_and_Outdoors         245343
4       spam                  Electronics           3175
5   not spam  Cell_Phones_and_Accessories         254268
6       spam  Cell_Phones_and_Accessories           6283
7   not spam             Home_and_Kitchen         261986
8       spam             Home_and_Kitchen           2255
9       spam          Sports_and_Outdoors           8939
10  not spam               Toys_and_Games         250975
11  not spam   Clothing_Shoes_and_Jewelry         237228

In [29]:
spam_overall = [((0, u'Home_and_Kitchen'), 2.8062301038986814), ((0, u'Clothing_Shoes_and_Jewelry'), 3.0823258637260356), ((0, u'Cell_Phones_and_Accessories'), 2.7989050922648544), ((1, u'Cell_Phones_and_Accessories'), 3.0741683908960686), ((0, u'Toys_and_Games'), 2.929220041836836), ((1, u'Home_and_Kitchen'), 3.4190687361419068), ((0, u'Sports_and_Outdoors'), 3.015366242362733), ((0, u'Electronics'), 2.7882310893472626), ((1, u'Sports_and_Outdoors'), 3.011522541671328), ((1, u'Toys_and_Games'), 3.5863387978142076), ((1, u'Electronics'), 3.0935433070866143), ((1, u'Clothing_Shoes_and_Jewelry'), 3.231308759886584)]

In [30]:
working = []
for item in spam_overall:
    if item[0][0] == 1:
        working.append(['spam', item[0][1], item[1]])
    if item[0][0] == 0:
        working.append(['not spam', item[0][1], item[1]])
df_spam_cat_overall_rating = pd.DataFrame(working,columns = ["Spam","Category","Overall_avg"])
df_spam_cat_overall_rating

        Spam                     Category  Overall_avg
0   not spam             Home_and_Kitchen     2.806230
1   not spam   Clothing_Shoes_and_Jewelry     3.082326
2   not spam  Cell_Phones_and_Accessories     2.798905
3       spam  Cell_Phones_and_Accessories     3.074168
4   not spam               Toys_and_Games     2.929220
5       spam             Home_and_Kitchen     3.419069
6   not spam          Sports_and_Outdoors     3.015366
7   not spam                  Electronics     2.788231
8       spam          Sports_and_Outdoors     3.011523
9       spam               Toys_and_Games     3.586339
10      spam                  Electronics     3.093543
11      spam   Clothing_Shoes_and_Jewelry     3.231309

In [31]:
df_spam_count_reviews_overall_avg = pd.merge(df_spam_cat_count_reviews, df_spam_cat_overall_rating, how='left', left_on =['Spam','Category'], right_on =['Spam','Category'])

In [32]:
df_spam_count_reviews_overall_avg

        Spam                     Category  Count_Reviews  Overall_avg
0       spam   Clothing_Shoes_and_Jewelry           6701     3.231309
1       spam               Toys_and_Games           3660     3.586339
2   not spam                  Electronics         243421     2.788231
3   not spam          Sports_and_Outdoors         245343     3.015366
4       spam                  Electronics           3175     3.093543
5   not spam  Cell_Phones_and_Accessories         254268     2.798905
6       spam  Cell_Phones_and_Accessories           6283     3.074168
7   not spam             Home_and_Kitchen         261986     2.806230
8       spam             Home_and_Kitchen           2255     3.419069
9       spam          Sports_and_Outdoors           8939     3.011523
10  not spam               Toys_and_Games         250975     2.929220
11  not spam   Clothing_Shoes_and_Jewelry         237228     3.082326

In [36]:
fig = go.Figure()

In [24]:
spam_reviewID_path = '/Users/pkpoon/Documents/School/Winter/msds697/Project/data/spam_reviewID_helpful.txt'

In [25]:
spam_reviewID = []
with open(spam_reviewID_path, 'r') as f:
    for line in f:
        spam_reviewID.append(line)
working = [line.split(",") for line in spam_reviewID]

In [26]:
spam_reviewID_lst = []
for item in working:
    spam_reviewID_lst.append([item[0][2], ''.join(re.findall(r"'([^']*)'", item[1])), item[2][1]])
spam_reviewID_lst[0]

['0', 'A3TKSUEV4E9PV6', '3']

In [27]:
working2 = []
for item in spam_reviewID_lst:
    if item[0] == '1':
        working2.append(['spam', item[1], item[2]])
    if item[0] == '0':
        working2.append(['not spam', item[1], item[2]])
df_spam_count_reviews = pd.DataFrame(working2,columns = ["Spam","ReviewerID","count_reviews"])
df_spam_count_reviews

             Spam      ReviewerID count_reviews
0        not spam  A3TKSUEV4E9PV6             3
1        not spam   A563DWTSKZD49             1
2        not spam  A3J5L6UEFFMBG2             1
3        not spam   AH6PVAUDSPPG0             1
4        not spam  A368NHKLHMRNUV             1
...           ...             ...           ...
1287375  not spam  A1X3RVTR23AEZX             1
1287376  not spam   A4KF54B7EPE2Q             1
1287377  not spam   AET38LB1SB7PT             1
1287378  not spam   AM4A6JLXB8YGE             1
1287379  not spam  A1DZ9LEAN4U66I             1

[1287380 rows x 3 columns]

In [34]:
fig = go.Figure()
fig.add_trace(
    go.bar(x=))

In [48]:
spam_full_path = '/Users/pkpoon/Documents/School/Winter/msds697/Project/data/spam_reviewID_helpful_full.txt'

In [49]:
spam_full = []
with open(spam_full_path, 'r') as f:
    for line in f:
        spam_full.append(line)
working = [line.split(",") for line in spam_full]
working[0]

['((1', " u'A1PHTLAKH5TDHR')", ' [0.0', ' 0.0])\n']

In [ ]:
for item in working:
    print(item[3])